$color-header: #FFF3F3;
$color-dark: #171717;
$color-background: #CECECE;
$color-accent: rgb(189, 19, 19);
$color-form-bg: rgba(235, 235, 235, 0.8);
$color-shadow: rgba(23, 23, 23, 0.2);
$color-accent-transparent: rgba(189, 19, 19, 0.8);
$color-background2:  rgb(235, 235, 235);